/*
Submitted By: James Lau
Submitted To: techchallenges@hackeryou.com
Assignment: Tech Challenge 3
Date Submitted: November 26, 2018
*/

body {
	font-family: $body-font;
}

h1,h2 {
	font-family: $header-font;
	letter-spacing: 1px;
}

h3 {
	letter-spacing: 1px;
}

p {
	line-height: 35px;
}







